# Fichiers Python compilés
__pycache__/
*.py[cod]

# Environnements virtuels
venv/
env/
ENV/

# Fichiers de configuration IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Fichiers de logs
*.log

# Secrets et fichiers sensibles
*.env
.env

# Fichiers système
.DS_Store
Thumbs.db